body{

}
.first{
  height: 200px;
  width:;
  display: inline;
  margin: auto;
  width: 30%;
}

.second{
  height: 200px;
  display: inline;
  margin: auto;
  width: 30%;
}

.third{
  height: 200px;
  display: inline;
  margin: auto;
  width: 30%;

}
