body{

}
#first-image{
  height: 30%;
  width:;
  display: inline;
  margin: auto;
  width: 30%;
}

#second-image{
  height: 30%;
  display: inline;
  margin: auto;
  width: 30%;
}

#third-image{
  height: 30%;
  display: inline;
  margin: auto;
  width: 30%;

}
