body{

}
.first-image{
  height: 200px;
  width:;
  display: inline;
  margin: auto;
  width: 30%;
}

.second-image{
  height: 200px;
  display: inline;
  margin: auto;
  width: 30%;
}

.third-image{
  height: 200px;
  display: inline;
  margin: auto;
  width: 30%;

}
